@font-face {
	font-family: 'DrukTextWideCyr-Medium';
	src: url('../fonts/druktextwidecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/druktextwidecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/druktextwidecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/druktextwidecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/druktextwidecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/DrukWideBold.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-Light.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-SemiBold.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-Medium.ttf') format('truetype'),
		url('../fonts/druktextwidecyr-medium.svg#druktextwidecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
    
  }


*{
  font-family: "DrukTextWideCyr-Medium", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;

}
body{
  background: #06b1e0;
}
li{
  text-align: -webkit-match-parent;

}
ul{
  -webkit-perspective: 1500;

}
.projectList{
  transform-style: preserve-3d;
  perspective: 500; /* Добавьте перспективу */
  font-size: 12vh;
  font-weight: bold;
  transform: rotateX(5deg) rotateY(-40deg) translateZ(50px) scale(1); /* Увеличьте значение translateZ */
  transform-origin: right center;
  transform-style: preserve-3d;
  will-change: transform;
  color: black;
  transition: transform 0.2s ease-in, font-size 0.1s ease-in, color 0.2s ease-in;
}

.App {
  text-align:end;

}

.projectList.hovered {
  transform: rotateX(5deg) rotateY(-35deg) translateZ(50px) scale(1.1); /* Увеличивает масштаб при наведении */
  color: transparent; /* Делает текст прозрачным */
  -webkit-text-stroke: 1px black; /* Устанавливает толщину и цвет обводки */
}
.projectList.active{
  transform: rotateY(-0) translateZ(0) scale(0.9); /* Увеличьте значение translateZ */
  -webkit-text-stroke: 1px black; /* Устанавливает толщину и цвет обводки */
  color: transparent; /* Делает текст прозрачным */

}

header {
  color: aliceblue;
  position: fixed;
  bottom: 6vh;
  left: 5vw;
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Добавьте это правило */
}

.header-info{
  font-weight: 300;
  font-family: "Space Grotesk";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-info-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.header-info-card{
  display: flex;
  flex-direction: column;
  font-weight: 100;

}
.logo{
  font-size: 7vh;
  font-weight: 800;
  display: block;
  margin-bottom: 4vh;
}
.logo.hovered{
  color: transparent; /* Делает текст прозрачным */
  -webkit-text-stroke: 1px aliceblue; /* Устанавливает толщину и цвет обводки */
}
header p {
  font-size: 1vh;
  color: rgb(82, 82, 82);
  
}
.logo span{
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
