@font-face {
	font-family: 'DrukTextWideCyr-Medium';
	src: url('../fonts/druktextwidecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/druktextwidecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/druktextwidecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/druktextwidecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/druktextwidecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/DrukWideBold.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-Light.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-SemiBold.ttf') format('truetype'),
		url('../fonts/SpaceGrotesk-Medium.ttf') format('truetype'),
		url('../fonts/druktextwidecyr-medium.svg#druktextwidecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
    
  }


*{
  font-family: "DrukTextWideCyr-Medium", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  background: #546AFF;
  overflow-x: hidden;
  transition: padding-bottom 0.6s ease;
}

/* Класс для спуска экрана при раскрытии меню */
body.menu-expanded {
  padding-bottom: 300px !important;
}

li{
  text-align: -webkit-match-parent;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: margin-bottom 0.6s ease;
}

.app-container.mobile {
  flex-direction: column;
}

.App {
  text-align: end;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 80px; /* Чтобы был отступ от шапки на мобильных */
}

.projectList {
  order: 1;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .App {
    text-align: right;
    display: flex;
    flex-direction: column;
  }
  .projectList {
    padding: 0;
    order: 0;
    margin-top: 20px;
    text-align: right;
    padding-right: 5vw;
    position: absolute;
    right: 0;
  }
}

@media (max-width: 480px) {
  body {
    overflow-y: auto;
  }
  .app-container.mobile {
    display: flex;
    flex-direction: column;
  }
  .App {
    margin-bottom: 0; /* Сбрасываем margin-bottom */
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
  }
  .projectList {
    order: 0;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: right;
    padding-right: 5vw;
    position: fixed;
    right: 0;
    bottom: 80px; /* Располагаем сразу над header */
    z-index: 99;
  }
  .projectList a {
    font-size: 5vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
